button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.habit {
  font-size: 2.5rem;
  padding: 0.5em;
  list-style: none;
}

.habit-count {
  margin-left: 0.2em;
}

.habit-button {
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.habit-button:hover {
  opacity: 0.8;
}

.habit-increse,
.habit-decrese {
  color: goldenrod;
}
.habit-delete {
  font-size: 2rem;
  color: darkred;
}